$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #F85757;
$info      : #31CCEC;
$warning   : #F2C037;

$shadow-color: rgba(188, 198, 202, 0.1);
$body-font-size   : 16px;

// we don't have 500 weight for Source Sans Pro font
$text-weights: (thin: 100, light: 300, regular: 400, medium: 600, bold: 700, bolder: 900) !default;

// Todo variables

// primary palette
$primary-1: #EEF9F8;
$primary-2: #DBF2EF;
$primary-3: #B7E5DF;
$primary-4: #A6DFD8;
$primary-5: #82D3C8;
$primary-6: #41A396;
$primary-7: #398F84;
$primary-8: #317C73;
$primary-9: #10554B;


// secondary palette
$secondary-1: #F7F8F8;
$secondary-2: #F2F4F4;
$secondary-3: #CDD3D6;
$secondary-4: #B5BDC2;
$secondary-5: #9BA6AD;
$secondary-6: #839099;
$secondary-7: #6A7A84;
$secondary-8: #516470;
$secondary-9: #384D5B;
$secondary-10: #1F3847;